{% extends "layout.html" %}

{% block content %}
    <h1>Monsters in your area</h1>
    <div>
        {% for monster in monsters %}
        <div class="card container">
            <div class="row card-header">
                <div class="col-sm">
                    <p class="card-title">{{ monster.name }}</p>
                </div>
                <div class="col-sm"><a class="card-link">{{ monster.coordinates }}</a></div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <img class="card-img" src="{{ url_for('static', filename=monster.image_url) }}" alt="Pile of trash at coordinates">
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <p>{{ monster.size }}</p>
                </div>
                <div class="col-sm">
                    <p>{{ monster.date_added }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}